
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Maitree:wght@200;300;400;500;600;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #2D96BF;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.card-img {
    border: 10px solid black;
}

.home-title {
    font-family: "Fira Sans Extra Condensed 600", "Maitree 200", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 735px;
}

body {
    background-color: #fdfbfa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #F6AA8B;
}

nav a:hover {
    background-color: #F6AA8B;
    color: #BDDCE8;
}

.book, .join {
    background-color: #fdfbfa;
    font-size: 18px;
    color: #2D96BF;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #F6AA8B;
    color: #BDDCE8;
}

#background {
    background-color: #F6AA8B;
}

.msg {
    background-color: #fdfbfa;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #2D96BF;
}

.msg p {
    color: #2D96BF;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    background-color: #F6AA8B;
    color: #BDDCE8;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    color: #BDDCE8;
}

footer .social img{
    padding-top: 15px;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #2D96BF;
    text-decoration: none;
}

footer a:hover {
    color: #2D96BF;
}

.home-title {
    color: #2D96BF;
}

h4 {
    color: #2D96BF;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}
