#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #2D96BF;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 735px;
}

body {
    background-color: #fdfbfa;
}

header {
    background-color: #F6AA8B;
}

nav a:hover {
    background-color: #F6AA8B;
    color: #BDDCE8;
}

.book, .join {
    background-color: #fdfbfa;
    color: #2D96BF;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #F6AA8B;
    color: #BDDCE8;
}

#background {
    background-color: #F6AA8B;
}

.msg {
    background-color: #fdfbfa;
}

.msg h2 {
    color: #2D96BF;
}

.msg p {
    color: #2D96BF;
}

footer {
    background-color: #F6AA8B;
    color: #BDDCE8;
}

footer p {
    font-size: 1.2em;
    color: #BDDCE8;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #2D96BF;
    text-decoration: none;
}

footer a:hover {
    color: #2D96BF;
}

.home-title {
    color: #2D96BF;
}

h4 {
    color: #2D96BF;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}